@font-face {
    font-family: Yekan;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Yekan;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  a {
    color: #23272c;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    /* min-height: 100%; */
    padding: 20px;
    position: relative;
    top: 10vh;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    direction: rtl;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    font-family: yekan;
  }
  .register-link{
    color: #0d6efd;
    font-family: yekan;
    font-size: 3vh;
  }
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
 
  input[type=button], input[type=submit], input[type=reset]{
    background-color: #23272c;
    
    /* border: solid #23272c; */
    cursor: pointer;
    color: white;
    padding-right: 2vw !important;
    padding-left: 2vw !important;
    padding:.375rem .75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 3vh;
    font-family: yekan;
    -webkit-box-shadow: 0 2px 3px 0 #23272c;
    box-shadow: 0 2px 3px 0 #23272c;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #mobile{
    direction: ltr;
    text-align: left;
    font-family:yekan;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    /* background-color: rgba(255, 255, 34, 0.329) ; */
    opacity: 0.9 !important;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text],input[type=password] {
    direction: rtl;
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 7px 7px;
    text-align: right;
    text-decoration: none;
    display: inlineblock;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  input[type=text],input[type=password]{
    font-size:0.9rem;
    margin-bottom:2vh;
  }
  .buttonLoc{
    margin-top:5vh !important;
  }
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  input[type=checkbox] {
    transform: scale(1.5);
}
  .form-check{
    direction:rtl;
    left:6vw;
    font-family:yekan;
  }
  .form-check-input{
    margin-right:-2vw;
  }
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  .forcible{
    /* content:"*"; */
color: red;

font-size: 3vh;
left: 1.5vw;
top: 2vh;
position: absolute;
  
}
.floating-label {
    font-family:yekan;
    font-size: 3vh;
    color: #cccccc;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 24vw;
    width: fit-content;
    transition: all 0.1s ease;
    
}
input:focus ~ .floating-label {
    position: absolute;
    top: -4vh;
    bottom: 0px;
    left:24vw;
    /* font-size: 11px; */
    opacity: 1;
    color: #404040;
    font-family: yekan;
     
}
.login-title{
    font-family: yekan;
    font-size: 3vh;
}

/* validation */
.fa-exclamation-triangle{
  color: black !important;
  background-color: inherit !important;
  margin-right: 1vw;

}

.vali{
  left: 40vw;
  top: 12vh;

    position: absolute;
    display: none;
    margin-bottom: -10vh;
    font-family: yekan;
    direction: rtl;
    width: fit-content;
   height: fit-content;
}
.valiWhole{
  float: right;
  width: fit-content;
 }
 @media(max-width:600px) {
        
  .blurLabel{
      top: -3vh !important;
      bottom: 0px !important;
      left:50vw !important;
      /* font-size: 11px; */
      opacity: 1;
      color: #404040 !important;
      font-family: yekan;

  }
}

  .blurLabel{
      top: -4vh !important;
      bottom: 0px !important;
      left:24vw !important;
      /* font-size: 11px; */
      opacity: 1;
      color: #404040 !important;
      font-family: yekan;

  }

/*end of validation */

/* responsive */
@media(max-width:600px){
  .floating-label{
    left:50vw;
  }
  input:focus ~ .floating-label{
    left:50vw;
        top: -3vh;
  }
  .wrapper{
    top:17vh
}
.vali{
  /* position: relative; */
  top:20vh;
  left: 20vw;
}
  body{
    position: relative;
  }
  .blurLabel{
    left: 50vw !important;
  }
  .form-check-input {
    margin-right: -6vw;
}
}
/* responsive miani */
@media screen  and (min-width:600px) and (max-width:700px){
  .vali{
    top:27vh;
    left:32vw;
  }
  .wrapper{
    top:27vh;
  }
  body{
    position: relative;
  }
  .floating-label{
    left:52vw;
  }
  input:focus ~ .floating-label{
    left:52vw;
  }
  input[type=text]{
    font-size: 3vh;
  }
  input[type=password] {
    font-size: 3vh;
}
  .blurLabel{
    left: 52vw !important;
  }
  footer{
    margin-top: 28vh;
  }
  .form-check-input {
    margin-right: -3vw;
}
}
@media screen and (min-width:701px) and (max-width:992px) {
  .vali{
    top:20vh;
    left:32vw;
  }
  .floating-label{
    left:35vw;
  }
  input:focus ~ .floating-label{
    left:35vw;
  }
  input[type=text]{
    font-size: 3vh;
  }
  input[type=password] {
    font-size: 3vh;
}
  .blurLabel{
    left: 35vw !important;
  }
  .form-check-input {
    margin-right: -3vw;
}
}
@media screen and (min-width:993px) and (max-width:1100px){
  input[type=submit]{
    margin-top: 2vh;
  }
  input[type=text]{
    font-size: 3vh;
  }
  input[type=password] {
    font-size: 3vh;
}
  /* .floating-label{
    left:26vw;
  } */
  input:focus ~ .floating-label{
    left:27vw;
  }
  .blurLabel{
    left: 27vw;
  }
}