@font-face {
    font-family: Yekan;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Yekan;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  
  .wrapper{
    background-color: #f6f6f6 !important;
  }
  .wrapper nav{
    background-color: #23272c !important;
    color: white !important;
  }
<<<<<<< HEAD:assets/css/rules/main.css
  
=======
  .navbar-custom-menu > .navbar-nav > .dropdown > a{
    color: white !important;
  }
>>>>>>> 855e5c89eb3e1ddefd6dd3d6638515f2dd95ac32:css/rules/main.css
  .wrapper .navbar-custom-menu .nav{
    float: left;
    /* margin-top: -3vh; */
  }
<<<<<<< HEAD:assets/css/rules/main.css
 
=======
  .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus{
    background-color: #ffff00;
    color: #23272c !important;
  }
>>>>>>> 855e5c89eb3e1ddefd6dd3d6638515f2dd95ac32:css/rules/main.css
  .user-body .row .text-center{
    left: unset;
  }
  .fa-gears{
    color: #fff;
  }
  .main-footer{
<<<<<<< HEAD:assets/css/rules/main.css
    /* margin-top: 10vh; */
=======
    margin-top: 10vh;
>>>>>>> 855e5c89eb3e1ddefd6dd3d6638515f2dd95ac32:css/rules/main.css
  }
  .close-aside{
   position: relative;
   float: left;
   top:-5vh;
   color:#fff;
   left: 1vw;
  }
  .user-body{
    /* margin-right: -22vw; */
    padding-left: 10vw;
  }
  .user-body .row{
    margin-right: unset;
  }
  .user-body .text-center{
   
  }
  .sidebar-search{
    margin: unset !important;
    font-size: 2.5vh !important;
  }
  a {
    /* color: #23272c; */
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  .buttons{
    top: 5vh;
    position: relative;
<<<<<<< HEAD:assets/css/rules/main.css
    right: 7.5vw;
=======
    right: 6vw;
>>>>>>> 855e5c89eb3e1ddefd6dd3d6638515f2dd95ac32:css/rules/main.css
    /* width: 50vw; */
    float: right;
    margin-bottom: 10vh;
    font-family: yekan;
  }
  .div-second-search-box{
margin-right: -0.5vw;
top: -0.2vh;
display: flex;
  }
  .btn-warning a{
    color: #23272c;
    font-family: yekan;
  }
   .button-new{
     background-color: #23272c;
   border-color: #23272c;
    cursor: pointer;
    color: white;
    padding-right: 2vw !important;
    padding-left: 2vw !important;
    padding:.375rem .75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 3vh;
    font-family: yekan;
    -webkit-box-shadow: 0 2px 3px 0 #23272c;
    box-shadow: 0 2px 3px 0 #23272c;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
 /* margin-left: 2vw; */
   }
   .button-new:hover{
    background-color: #23272c;
    opacity: 0.9 !important;
    border-color: #ffff00;
   }
   .second-searchbox{
     display: contents;
    
    
   }
   .second-searchbox button{
     position: relative;
     margin-right: 0.5vw !important;
     /* left:0.4vw; */
     top:0.2vh;
     /* box-shadow:0 2px 3px 0 #23272c ; */
     height: 6vh !important;
     box-shadow:0 1px 2px 0 #23272c ;
     height: 6.2vh !important;
     border-radius: 9px;
   }
   .second-searchbox input{
     padding-left: 30vw;
     border-radius: 0px 05px 5px 0px;
     /* z-index: 1; */
     position: relative;
     top: 0.2vh;
     height: 6.2vh !important;
     box-shadow:0 1px 2px 0 #23272c ;
     /* outline: none; */
     border: none;
     border-radius: 9px;
     font-family: yekan;
     width: fit-content;
     width: -moz-fit-content;
     font-size: 2.5vh;
   }
  /* table */
  .table-loc{
    margin-top:10vh;
    /* overflow: scroll; */
    width: 60vw;
<<<<<<< HEAD:assets/css/rules/main.css
    right: 7.5vw;
=======
    right: 28vw;
>>>>>>> 855e5c89eb3e1ddefd6dd3d6638515f2dd95ac32:css/rules/main.css
    position: relative;
   
  }
  .table-loc table td{
    /* font-size: 2.2vh; */
  }
  .table-loc table th{
    font-size: 2.2vh ;
  }
  .table-loc table{
    direction: rtl;
   overflow: hidden;
   border-radius: 6px;
    font-family: yekan;
    box-shadow: 2px 2px 5px ;
  }
  .table th{
    background-color: #23272c;
    color: white;
  }
  .table-loc table th:first-child{
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
  }
  .table-loc table th:last-child{
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
  }
  .table td, .table th{
    text-align: center;
    font-family: yekan !important;
  }
  
/* end of table */
.table-loc-after-vali{
  top: 5vh;
  margin-bottom: 55vh;
}
  .btn-warning{
    background-color: #ffff00;
    border-color: #ffff00;
   
  }
 .bg-danger{
   background-color: #dc3545!important;
   color: #fff !important;
 }
 .p-3 {
  padding: 1rem!important;
}
.mb-2 {
  margin-bottom: .5rem!important;
}
  .buttons .btn-warning{
    box-shadow: 2px 2px 5px #23272c;
    font-size: 2.5vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  
  }
  .buttons .btn-warning a{
    color: #23272c;
    font-weight: bold;
  }
  /* STRUCTURE */
  
  /* .wrapper {
    display: none;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
   
    padding: 20px;
    position: relative;
    top: 10vh;
  } */
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    direction: rtl;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    font-family: yekan;
  }
  .register-link{
    color: #0d6efd;
    font-family: yekan;
    font-size: 3vh;
  }
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
 
  input[type=button], input[type=submit], input[type=reset]{
    background-color: #23272c;
    
    /* border: solid #23272c; */
    cursor: pointer;
    color: white;
    padding-right: 2vw !important;
    padding-left: 2vw !important;
    padding:.375rem .75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 3vh;
    font-family: yekan;
    -webkit-box-shadow: 0 2px 3px 0 #23272c;
    box-shadow: 0 2px 3px 0 #23272c;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #mobile{
    direction: ltr;
    text-align: left;
    font-family:yekan;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    /* background-color: rgba(255, 255, 34, 0.329) ; */
    opacity: 0.9 !important;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text],input[type=password],input[type=number] {
    direction: rtl;
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 7px 7px;
    text-align: right;
    text-decoration: none;
    display: inlineblock;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  input[type=text],input[type=password]{
    font-size:0.9rem;
    margin-bottom:2vh;
  }
  .buttonLoc{
    margin-top:5vh !important;
  }
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  input[type=checkbox] {
    transform: scale(1.5);
}
  .form-check{
    direction:rtl;
    left:6vw;
    font-family:yekan;
  }
  .form-check-input{
    margin-right:-2vw;
  }
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  .forcible{
    /* content:"*"; */
color: red;

font-size: 3vh;
left: 1.5vw;
top: 2vh;
position: absolute;
  
}
.floating-label {
    font-family:yekan;
    font-size: 3vh;
    color: #cccccc;
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 24vw;
    width: fit-content;
    
    transition: all 0.1s ease;
    
}
input:focus ~ .floating-label {
    position: absolute;
    top: -4vh;
    bottom: 0px;
    left:24vw;
    /* font-size: 11px; */
    opacity: 1;
    color: #404040;
    font-family: yekan;
     
}
.login-title{
    font-family: yekan;
    font-size: 3vh;
}

/* validation */
.fa-exclamation-triangle{
  color: black !important;
  background-color: inherit !important;
  margin-right: 1vw;

}

.vali{
  left: 40vw;
  top: 12vh;

    position: absolute;
    display: none;
    margin-bottom: -10vh;
    font-family: yekan;
    direction: rtl;
    width: fit-content;
   height: fit-content;
   width: -moz-fit-content;
   height: fit-content;
}
.valiWhole{
  float: right;
  width: fit-content;
  width: -moz-fit-content;
 }
 
 .vali-table{
  right: 23vw;
    top: 20vh;
    position: relative;
    display: none;
    margin-bottom: -10vh;
    font-family: yekan;
    direction: rtl;
    width: fit-content;
   height: fit-content;
   width: -moz-fit-content;
   height: -moz-fit-content;
}
.valiWhole-table{
  float: right;
  width: fit-content;
  width: -moz-fit-content;
 }
.non{
  display: none !important;
}
 .table-sortable th {
  /* cursor: pointer;
  background: url(../../images/rules/danger-alert-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right center; */
  /* background-size: cover; */
}

/* .th-sort-asc ::after {
  content: "\25b4" !important;
}

.table-sortable .th-sort-asc ::after {
  content: "\25be";
}

.table-sortable .th-sort-asc ::after,
.table-sortable .th-sort-asc ::after {
  margin-left: 5px;
} */

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {}
 @media(max-width:600px) {
        
  .blurLabel{
      top: -3vh !important;
      bottom: 0px !important;
      left:50vw !important;
      /* font-size: 11px; */
      opacity: 1;
      color: #404040 !important;
      font-family: yekan;

  }
}

  .blurLabel{
      top: -4vh !important;
      bottom: 0px !important;
      left:24vw !important;
      /* font-size: 11px; */
      opacity: 1;
      color: #404040 !important;
      font-family: yekan;

  }

/*end of validation */

/* responsive */
@media(max-width:530px){
  .table-loc{
    overflow: scroll;
    direction: rtl;
    margin-top: 40vh;
  }
  .buttons{
    top:13vh;
    right:-59vw;
  }
  .div-second-search-box{
    display: flex;
    margin-right: unset;
    top:2vh;
  }
  .second-searchbox input{
    padding-left: 2vw;
    font-size: 2.3vh;
  }
  .vali-table{
    
   width: 40vw;
    right: -43vw;
    top: 46vh;
  }
  .floating-label{
    left:50vw;
  }
  input:focus ~ .floating-label{
    left:50vw;
        top: -3vh;
  }
  .wrapper{
    /* top:17vh */
}
.vali{
  /* position: relative; */
  top:20vh;
  left: 20vw;
}
  body{
    position: relative;
  }
  .blurLabel{
    left: 50vw !important;
  }
  .form-check-input {
    margin-right: -6vw;
}
}
@media screen and (min-width:530px) and (max-width:600px){
.buttons{
  right:-34vw;
}
.table-loc{
  right:6vw;
}
}
/* responsive miani */
@media screen  and (min-width:601px) and (max-width:700px){
  .vali{
    top:27vh;
    left:32vw;
  }
  .vali-table{
    left: 34vw;
    top:35vh
  }
  .buttons{
    right:13vw;
  }
  .wrapper{
    top:27vh;
  }
  body{
    position: relative;
  }
  .floating-label{
    left:52vw;
  }
  input:focus ~ .floating-label{
    left:52vw;
  }
  input[type=text]{
    font-size: 3vh;
  }
  input[type=password] {
    font-size: 3vh;
}
  .blurLabel{
    left: 52vw !important;
  }
  footer{
    margin-top: 28vh;
  }
  .form-check-input {
    margin-right: -3vw;
}
.div-second-search-box{
  z-index: 999;
}
.table-loc-after-vali{
  margin-top: 40vh;
}
.second-searchbox input{
  font-size: 3vh;
  padding-left: 3vw;
}
}
@media screen and (min-width:701px) and (max-width:992px) {
  .vali{
    top:20vh;
    left:32vw;
  }
  .div-second-search-box {
    margin-right: -10vw;
    top: 6vh;
    display: flex;
}
.buttons .btn-warning{
  position: relative;
  top: 3vh;
}
.buttons{
  margin-bottom: 12vh;
}
.second-searchbox input{
  font-size: 2vh;
  z-index: 999;
}
  .floating-label{
    left:35vw;
  }
  input:focus ~ .floating-label{
    left:35vw;
  }
  input[type=text]{
    font-size: 3vh;
  }
  input[type=password] {
    font-size: 3vh;
}
  .blurLabel{
    left: 35vw !important;
  }
  .form-check-input {
    margin-right: -3vw;
}
.table-loc{
  right: 33vw;
  overflow: scroll;
}
}
@media screen and (min-width:993px) and (max-width:1100px){
  input[type=submit]{
    margin-top: 2vh;
  }
  input[type=text]{
    font-size: 3vh;
  }
  input[type=password] {
    font-size: 3vh;
}
  /* .floating-label{
    left:26vw;
  } */
  input:focus ~ .floating-label{
    left:27vw;
  }
  .blurLabel{
    left: 27vw;
  }
  .div-second-search-box{
    margin-right: -10vw;
    display: flex;
    margin-top: 7vh;
  }
  .second-searchbox input{
    font-size: 2vh;
  }
}