@font-face {
    font-family: Yekan;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff') format('woff'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Yekan;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.eot?#iefix') format('embedded-opentype'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.woff') format('woff'),
		 url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
html,body{

    overflow-x: hidden;
}
body{
    background-color: #f5f7fb;
    /* font-family: yekan; */
    overflow-y: scroll;
    height: 100%;
}
nav{
    direction: rtl;
    /* float: right; */
    width: 100%;
    height: 10vh;
    font-family: sahel;
    background-color: #23272c;
    color:white;
}
.dropdown-menu{
    background-color: #23272c;
    
    height: fit-content;
}
.dropdown-menu a{
    color: white;
    direction: rtl;
    float: right;
    position: relative;
    /* margin-right:-2vw ; */
    width: inherit;
}
.dropdown-menu a:hover{
    background-color: unset !important;
    opacity: 0.8;
    color: white !important;
}
.nav-link{
    color: white !important;
    padding-top: 16px;
    padding-bottom: 16px;
}
.nav-link.active{
    background-color: #ffff00 !important;
    color: black !important;
}
.navbar-nav{
    position: absolute;
    right: 25vw;
}
.navbar-brand{
    color: white !important;
    position: absolute;
    left: 2vw;
  top:2vh;
}
nav .form-inline{
    position: absolute;
    /* left: 26vw; */
    width: 32vw;
}
.search-section{
    position: relative;
    direction: ltr;
    right: 24vw;
    /* right: 10vw; */
    margin-top: -6vh;
    /* display: contents; */
}
.search-section input{
    width: 20vw !important;
    /* direction: rtl; */
    
}
.search-section h3{
    margin-right: 6vw;
    
    font-family: sahel;
    font-size: 4vh;
    font-weight: bold;
}
#search-button{
    height: 6.5vh;
    background-color: #ffff00;
    margin-left: -0.8vw;
    color: black;
    border: #ffff00;
}
.register{
    position: absolute;
    left: -14vw;
    }
    .login{
        position: absolute;
        left: -7vw;
    
    }
    /* footer */
footer{
    direction: rtl;
    width: 100%;
    background-color:#23272c !important ;
    font-family: yekan;
    margin-top: 16.4vh;
    color: white;
}
footer .text-light{
    color: white !important;
}
.text-light:hover{
    color: white !important;
}
.subscribe-div-button{
    position: relative;
    left: 0vw;
    top: 2vh;
    font-family: yekan;
    
}
.subscribe input{
    border-radius: 5px;
   padding: 5px;
   width: 13.7vw;
}
.term-of-use{
    font-family: yekan;
    direction: rtl;
    text-align: right;
    position: relative;
    right: 5.5vw;
    width: 15vw;
}
.term-of-use a{
    text-decoration: underline !important;
   cursor: pointer;
   color: #007bff !important;
}
.subscribe-div-button .btn{
    width: 13.7vw;
    font-size: 2.5vh !important;
    font-weight: bold;
}
footer .text-uppercase{
    text-align: center;
}
footer p{
    text-align: center;
}
.subscribe h6{
    position: relative;
    bottom: 0.5vh;
    /* right: 2vw; */
    right: 2.7vw;
}
.description{
    font-family: sahel;
    font-weight: bold;
}
    /* responsive */
    @media(max-width:590px){
        .search-section{
          
            margin-top: unset;
    top: 6vh;
    left: 14vw;
        }
        nav .form-inline{
            width: 70vw;
        }
        #search-button{
            height: 5.5vh;
        }
        .search-section input{
            width: 52vw !important;
        }
      nav{
          direction: ltr;
      }
      .nav-link{
          color: white !important;
          background-color: #23272c;
          z-index: 999;
      }
      .navbar-nav{
          z-index: 999;
          right: 8vh;
          direction: rtl;
      }
      .register,.login{
          position: unset;
      }
      .dropdown{
        background-color: #23272c;
      }
      .navbar-toggler{
          background-color: #fff;
      }
      .navbar-brand{
          top:2.5vh;
      }
    }
    
    /* responsive miani */
    @media screen and (min-width:600px) and (max-width:992px) {
        .search-section{
          
            margin-top: unset;
    top: 6vh;
    left: 30vw;
        }
        #search-button{
            height: 3.5vh;
        }
        .search-section input{
            width: 32vw !important;
        }
        nav{
            direction: ltr;
        }
        nav .form-inline{
            width: 70vw;
        }
        .navbar-toggler{
            background-color: #fff;
        }
        .dropdown{
            background-color: #23272c;
            z-index: 999;
          }
          .nav-link{
            color: white !important;
            background-color: #23272c;
            z-index: 999;
        }
        .register,.login{
            position: unset;
            z-index: 999;
        }
        .navbar-nav{
            right:5vw;
            direction: rtl;
        }
    }
    @media screen and (min-width:600px) and (max-width:700px) {
        nav{
            height: 15vh;
        }
        #search-button{
            height: 10.5vh;
        }
    }
    @media screen and (min-width:992px) and (max-width:1050px){
        .navbar-nav{
            right:15vw;
        }
        .search-section input{
            width: 13vw !important;
        }
        .search-section{
            right: 17vw;
            margin-top: -3.5vh;
        }
        #search-button{
            height: 3.5vh;
           
        }
        .navbar-brand{
            top:unset;
        }
    }

    